body {
    background-color: darkblue;
}

.container {
    border-radius: 15px;
    background-color: white;
}

.line {
    text-decoration: line-through;
}

.list-group-item p,
.list-group-item i {
    cursor: pointer;
    padding: .8rem;
}
